# not need to versioning
.vscode/

# assets
GitHub2.css
markdown-it.min.js
highlight.min.js
default.min.css
vs2015.min.css
images/
favicon.ico

# downloaded files
code.json
extensions.md
code/
vsix/
icons/
